.homePage {
    height: fit-content;
    width: 100vw;

    header {
        position: absolute;
        z-index: 99;
    }

    header.navbarFixed {
        position: fixed;
        background-color: white;
    }

    main {
        width: 100%;
        height: fit-content;

        .slidersContainer {
            width: 100%;
            height: 90vh;
            position: relative;

            &:hover {
                .left, 
                .right {
                    background-color: white;
                    color: black;
                    font-size: 1.2rem;
                    font-weight: 900;
                    opacity: 0.5;
                }
            }

            img {
                height: 100%;
                width: 100%;
            }

            .left,
            .right {
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                z-index: 5;
                top: 50%;
                background-color: transparent;
                color: transparent;
                border: none;
            }
            .left {
                left: 10px;
            }
            .right {
                right: 10px;
            }

        }


        .presentation {
            width: 100%;
            height: fit-content;
            padding: 80px 40px;
            font-size: 1.2rem;
            background-color: #F3F3F3;

            .summary {
                display: flex;
                flex-direction: column;
                gap: 40px;

                strong {
                    color: dodgerblue;
                    font-size: 1.6rem;
                }
            }

        }
    }

}